################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RazorPagesMovie/RazorPagesMovie/bin/Debug/netcoreapp2.1
/RazorPagesMovie/.vs/RazorPagesMovie/v15/Server/sqlite3
